

.jumbotrom{
    padding-left: 10px;
    padding-right: 0;
}
.container{
   background-color:  #cce0ff;
    height: 600px;
    width: 90%;
}
table{
    width: 100%;
}
.col-sm-2{
  white-space: nowrap;
}