/*.container{
    background-color: 	#09092a;
    width : 80% ;

}

.jumbotron{
    background-color : #191970;
    width: 80%;
    align-items: center; 
}
.form-group rowl{
    color: white;
    
}*/
.password {background-color: #4CAF50; color: black;} 