
<div class="container">
  <h2>User Registration Form</h2>
  <div class="jumbotron">
    <form action="" #frm="ngForm">
    <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Faculty</label>
    <div class="col-sm-10">
       <select class="form-control" id="sel1" name="faculty" (change)="getDepartments($event.target.value)">
      <option  >select faculty</option>
      <option *ngFor="let faculty of facultyList" [value]="faculty.id"  > {{faculty.faculty_name}}</option>
      </select>
    </div>
   </div>
   <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Department</label>
    <div class="col-sm-10">
      <select class="form-control" id="sel2" (change)="getDegreePro($event.target.value)">
         <option  >select department</option>
        <option *ngFor="let department of departmentList" [value]="department.id"  > {{department.dep_name}}</option>
      </select>
    </div>
    </div>
    <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Digree Program</label>
    <div class="col-sm-10">
       <select class="form-control" id="sel3"   >
          <option  >select digreeprogram</option>
        <option *ngFor="let digree of digreeList" [value]="digree.id">{{digree.digpro_name}}</option>
       
      </select>
    </div>
    </div>
     </form>
  </div>

</div>

<div class="container">
 <div class="jumbotron">
<form #myForm="ngForm" (ngSubmit)="saveStudent()">
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input  class="form-control" id="name" [(ngModel)]="name" name="name">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email">
    </div>
  </div>
<div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">EP Nuber</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="ep_num"[(ngModel)]="ep_num" name="ep_num">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Badge Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="badge"[(ngModel)]="badge" name="badge" >
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">loging number</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="login_num"[(ngModel)]="login_num" name="login_num" readonly >

      <label for="inputEmail3" class="password" (click)=createNumber()>generate password</label>
 
    </div>
  </div>

  
 
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
  
</form>


 <!--</div>
<button (click)="print()">name</button>
 {{frm.value|json}}
</div>-->
