
<div class="container">
  <h2>User Registration Form</h2>
  <div class="jumbotron">
    <form action="" #frm="ngForm">
    <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Faculty</label>
    <div class="col-sm-10">
       <select class="form-control" id="sel1" name="faculty" (change)="getDepartments($event.target.value)">
      <option  >select faculty</option>
      <option *ngFor="let faculty of facultyList" [value]="faculty.id"  > {{faculty.faculty_name}}</option>
      </select>
    </div>
   </div>
   <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Department</label>
    <div class="col-sm-10">
      <select class="form-control" id="sel2" (change)="getDegreePro($event.target.value)">
         <option  >select department</option>
        <option *ngFor="let department of departmentList" [value]="department.id"  > {{department.dep_name}}</option>
      </select>
    </div>
    </div>
    <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Digree Program</label>
    <div class="col-sm-10">
       <select class="form-control" id="sel3"   >
          <option  >select digreeprogram</option>
        <option *ngFor="let digree of digreeList" [value]="digree.id">{{digree.digpro_name}}</option>
       
      </select>
    </div>
    </div>
     </form>
  </div>

</div>

<div class="container">
 <div class="jumbotron">
<form (ngSubmit)="saveMarks()">
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Grade</label>
    <div class="col-sm-10">
      <input  class="form-control" id="grade" [(ngModel)]="grade" name="grade">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Mark</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="mark" [(ngModel)]="mark" name="mark">
    </div>
  </div>
<div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">student Subject Id</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="stsj"[(ngModel)]="stsj" name="stsj">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">exam id</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="exam"[(ngModel)]="exam" name="exam" >
    </div>
  </div>
  <!--<div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail5" placeholder="Email">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">login number</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword6" placeholder="login number" readonly>
    </div>
  </div>-->
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>


 <!--</div>
<button (click)="print()">name</button>
 {{frm.value|json}}
</div>-->
